/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../scss/main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../scss/main.scss */
body {
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  padding: 50px 0;
}

/* line 18, ../scss/main.scss */
.left {
  float: left;
}

/* line 22, ../scss/main.scss */
#events {
  width: 100%;
  margin: 0 auto;
  max-width: 850px;
  min-width: 630px;
}

/* line 29, ../scss/main.scss */
#content {
  width: 90%;
}

/* line 33, ../scss/main.scss */
#times {
  width: 10%;
}

/* line 37, ../scss/main.scss */
.day {
  height: 735px;
  padding: 0 8px;
  position: relative;
  background: #ececec;
  border-left: solid 1px lightgrey;
}

/* line 45, ../scss/main.scss */
.times {
  padding-right: 8px;
}
/* line 48, ../scss/main.scss */
.times li {
  height: 30px;
  text-align: right;
  line-height: 15px;
}
/* line 54, ../scss/main.scss */
.times .med {
  color: #636363;
}
/* line 56, ../scss/main.scss */
.times .med .time {
  font-size: 13px;
  font-weight: bold;
}
/* line 64, ../scss/main.scss */
.times .small {
  margin-left: 3px;
}
/* line 66, ../scss/main.scss */
.times .small span {
  display: none;
}

/* line 72, ../scss/main.scss */
.small {
  font-size: 9px;
  color: #A3A3A3;
}

/* line 77, ../scss/main.scss */
.events {
  top: 0;
  left: 2.5%;
  width: 95%;
  position: absolute;
}

/* line 84, ../scss/main.scss */
.event {
  left: 0;
  border: solid 1px lightgrey;
  position: absolute;
  background: #FFF;
  border-left: 0;
}
/* line 91, ../scss/main.scss */
.event .copy {
  padding: 8px;
  margin-left: 4px;
}
/* line 96, ../scss/main.scss */
.event .flag {
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  position: absolute;
  background: #536fa8;
}

/* line 106, ../scss/main.scss */
.event-title {
  color: #536fa8;
  margin-bottom: 2px;
  font-size: 13px;
  font-weight: bold;
}
