@import "compass";
@import "compass/reset";

$blue: #536FA8;
$day-fill: #ececec;
$internal-spacing: 10px;
$flag-width: 4px;

* {
  @include box-sizing(border-box);
}

body {
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  padding: 50px 0;
}

.left {
  float: left;
}

#events {
  width:     100%;
  margin:    0 auto;
  max-width: 850px;
  min-width: 620px;
}

#content {
  width: 90%;
}

#times {
  width: 10%;
}

.day {
  padding:      0 $internal-spacing;
  position:     relative;
  background:   $day-fill;
  border-left:  solid 1px darken($day-fill, 10%);
}

.times {
  padding-right: $internal-spacing;

  li {
    height:       30px;
    text-align:   right;
    line-height:  15px;
  }

  .med {
    color:  #636363;
    .time {
      font: {
        size:   13px;
        weight: bold;
      }
    }
  }

  .small {
    margin-left: 3px;
    span {
      display: none;
    }
  }
}

.small {
  font-size: 9px;
  color: #A3A3A3;
}

.events {
  top:      0;
  left:     2.5%;
  width:    95%;
  position: absolute;
}

.event {
  left:         0;
  border:       solid 1px darken($day-fill, 10%);
  position:     absolute;
  background:   #FFF;
  border-left:  0;

  .copy {
    padding: $internal-spacing;
    margin-left: $flag-width;
  }

  .flag {
    top:        0;
    left:       0;
    width:      $flag-width;
    height:     100%;
    position:   absolute;
    background: $blue;
  }
}

.event-title {
  color:         $blue;
  margin-bottom: 2px;

  font: {
    size:   13px;
    weight: bold;
  }
}